* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #333F48;
}


body {
    background-color: #09f;
}

main {
    height: auto;
    margin: 5% 10%;
    padding: 0 5%;
    border: solid black 3px;
    border-radius: 15px;
    background-color: white;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
}

.navmenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

.navbar img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin-top: 5%;
}

/* DEFAULT TEXT */

h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
}

h3 {
    color: #B4E100;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 900;
}

h4 {
    color: #B4E100;
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
}

h5 {
    color: #B4E100;
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
}




/* MAIN CV SECTION */

.CVbody {
    display: grid;
    grid-template: 
            "a b" 1fr
            "c d" auto
            "e e" 1fr / 3fr 1fr;
}

.profilecontainer {
    grid-area: a;
}

.contactcontainer {
    grid-area: b;
}

.contactitem {
    padding: 15px 0;
}

/* EXPERIENCE SECTION */

.experiencecontainer {
    grid-area: c;
    width: 90%;
}

.experienceitem {
    padding: 2% 5%;
    margin: 5% 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.experienceitem p {
    text-align: justify;
    line-height: 1.5rem;
}

.experienceinfo {
    display: grid;
    grid-template: 
            "a b c" 1fr / 3fr 1fr 1fr;
    align-items: center;
}

.experienceinfo h3 {
    grid-area: a;
}

.experienceinfo h5 {
    grid-area: b;
    text-align: center;
}

.experienceinfo h4 {
    grid-area: c;
    text-align: right;
}



strong {
    font-weight: 700;
}

.educationcontainer {
    grid-area: d;
}

.educationitem {
    padding: 15px 0;
}

/* CONTACT SECTION */

#emailme img {
    width: 25px;
    height: auto;
}

#linkedinme img {
    width: 25px;
    height: auto;
}

@media only screen and (max-width: 750px){
    main {
        margin: 1%;
    }
    .CVbody {
        grid-template: 
                "a b" auto
                "c c" auto
                "d d" auto
                "e e" auto/auto auto;
    }

    .profilecontainer {
        padding-right: 2%;
    }
    .experiencecontainer{
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .experienceitem p {
        text-align: left;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    h5 {
        font-size: 1rem;
    }

    .navbar {
        padding-top: 5px;
    }

    .navbar img {
        min-width: 50px;
    }

    .navmenu a {
        padding: 1rem;
        font-size: 1rem;
    }

}
