* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #333F48;
}


body {
    background-color: #09f;
}

main {
    height: auto;
    margin: 5% 10%;
    padding: 0 5%;
    border-radius: 15px;
    background-color: white;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
    align-items: center;
}

.navmenu {
    font-weight: bold;
}

.navbaritem {
    float: right;
    padding: 0 1%;
}

#emailme img {
    max-width: 35px;
    min-width: 35px;
    height: auto;
}

#linkedinme img {
    max-width: 35px;
    min-width: 35px;
    height: auto;
}

#profilepic {
    justify-self: left;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

/* DEFAULT TEXT */

h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
}

h3 {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 900;
}

h4 {
    color: #0099FF;
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
}

h5 {
    color: #0099FF;
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
}




/* MAIN CV SECTION */

.CVbody {
    display: grid;
    grid-template: 
            "a a" 1fr
            "c d" auto
            "e e" 1fr / 3fr 1fr;
}

.profilecontainer {
    grid-area: a;
    width: 95%;
    margin: 5% 0;
    align-self: center;
}


/* EXPERIENCE SECTION */

.experiencecontainer {
    grid-area: c;
    width: 90%;
}

.experienceitem {
    padding: 2% 5%;
    margin: 5% 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.experienceitem p {
    line-height: 1.75rem;
}

.experienceinfo {
    display: grid;
    grid-template: 
            "a b c" 1fr / 3fr 1fr 1fr;
    align-items: center;
    padding-bottom: 2%;
}

.experienceinfo h3 {
    grid-area: a;
}

.experienceinfo h5 {
    grid-area: b;
    text-align: center;
}

.experienceinfo h4 {
    grid-area: c;
    text-align: right;
}


strong {
    font-weight: 700;
}

/* EDUCATION SECTION */

.educationcontainer {
    grid-area: d;
}

.educationitem {
    padding: 15px 0;
}

@media only screen and (max-width: 750px){
    main {
        margin: 1%;
    }
    .CVbody {
        grid-template: 
                "a a" auto
                "c c" auto
                "d d" auto
                "e e" auto/auto auto;
    }


    .experiencecontainer{
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .experienceitem p {
        text-align: left;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    h5 {
        font-size: 1rem;
    }

    .navbar {
        padding-top: 15px;
    }

    .navbar img {
        min-width: 50px;
    }

    .navmenu a {
        padding: 1rem;
        font-size: 1rem;
    }

}
